{% extends 'navbar.html'%}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Home page</title>
    <link rel="stylesheet" href="{% static 'index.css'%}">
</head>
<body>
    <section class="top-page">
        
        <div class="container">
            <h1>shopping cart</h1>
            <h2>Welcome to Corner Shop</h2>
            <p>Your one-stop destination for all your shopping needs.</p>
           
        </div>
    </section>
</body>
</html>
{%endblock%}
