*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
header{
    padding: 20px;
    background-color: #635f5f; 
    height: 45px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

header img{
    border-radius: 50px;
    float: left;
    width: 65px;
}
header h1{
    display: flex;
    color: white;
    font-weight: bold;
    font-size:40px ;
    margin-left: 20px;
}
nav{
    display: flex;
    margin-bottom: 440px;
    float: right;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: #242323;
    color: wheat;
    padding:10px ;
    border-radius: 30px;
}
.top-page {  
    background-color:orange;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.top-page img{
    border: none;
    border-radius: 5%;
    height: 300px;

}
.top-page .container h2 {
    font-size: 36px;
}

.top-page p {
    font-size: 18px;
}
.category{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.category h2{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}
.category .category-products{
    margin-top: 20px;
    background-color: #a8a1a1;
    width: 150px;
    border-radius: 20px;
}
.category-products .cat-pdts img{
    width: 100px;
    border-radius: 40px;
    padding: 25px;
}
.category-products .cat-pdts a{
    text-align: center;
    text-decoration: none;
}
.category-products .cat-pdts h3{
    margin-top: 10px;
    background-color: #333;
    border-radius: 10px;
    color: wheat;
    height: 40px;
    padding: 10px;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.btn:hover {
    background-color: #555;
}
.products {
    padding: 50px 0;
}
.products h2{
    text-align: center;
}
.products .pdt {
    text-align: center;
    margin-bottom: 40px;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    margin-top: 40px;
    padding: 20px;
    background-color: #f5f2f2;
}

.products .pdt img {
    width: 200px;
    height: auto;
}
.products .pdt h3 {
    margin-top: 10px;
}
.products .pdt .price {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
.footer{
    background-color: #333;
    padding: 40px 0;
}
.footer .in-footer{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.footer .in-footer .rows{
    display: flex;
    flex-wrap: wrap;
}
.footer .in-footer .rows .cols{
    width: 25%;
    padding: 0px;
}
.footer .in-footer .rows .cols h3{
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    font-weight: 900px;
    position: relative;
}
.footer .in-footer .rows .cols ul li{
    margin-bottom: 15px;
    cursor: pointer;
}
.footer .in-footer .rows .cols ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: wheat;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer .in-footer .rows .cols ul li a:hover{
    color: aqua;
    padding-left: 10px;
}
.footer .in-footer .rows .cols .icon-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 20px 20px 10px 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.footer .in-footer .rows .cols .icon-links a:hover{
    filter: grayscale(10%);
    width: 50px;
    height: 50px;
}