{% extends 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New About us page</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'about.css' %}">


    <section>
        <div class="about">
            <h1>About Us</h1>
            <p>Welcome to Coner Shop We are passionate about providing high-quality products and exceptional customer service.</p>
            <p>Whether you're looking for trendy fashion, electronics, home decor, or more, we've got you covered.</p>
        </div>
        <div class="about-1">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="items text-centre">
                                <img src="{% static 'ICONS/open-book.png' %}" alt="">
                                <h3>Mission</h3>
                                <hr>
                                <p> Our mission is to make your online shopping experience enjoyable and convenient.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="items text-centre">
                                <img src="{% static 'ICONS/whatsapp.png' %}" alt="">
                                <h3>Vission</h3>
                                <hr>
                                <p> Our mission is to make your online shopping experience enjoyable and convenient.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="items" text-centre>
                                <img src="{% static 'ICONS/pencil.png' %}" alt="">
                                <h3>Archievements</h3>
                                <hr>
                                <p> Our mission is to make your online shopping experience enjoyable and convenient.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>