{%extends 'navbar.html'%}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Home page</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
   
    {% for message in message %}
    <h3>{{message}}</h3>

    {% endfor %}
   
    {%for product in products%}
    <div class="pdt">
        <img src="{{product.image.url}}" alt="image not available">
        <h3>{{product.name}}</h3>
        <!--This is an iphone that comes in hand with a smart watch and ipods-->
        <span class="price">{{product.price}}</span>
        {{product.description}}
        <a href="#" class="btn">Add to Cart</a>
    </div>
   
    {%endfor%}
   

    
    
</body>
</html>
</body>
</html>
{%endblock%}