{% extends 'navbar.html'%}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Home page</title>
    <link rel="stylesheet" href="{% static 'index.css'%}">
</head>
<body>
   {% for message in messages%}
   <h3>{{message}}</h3>
   {%endfor%}
    <section class="top-page">
        <img src="{% static 'images/girl.png'%}" alt="home feature">
        <div class="container">
            <h2>Welcome to Corner Shop</h2>
            <p>Your one-stop destination for all your shopping needs.</p>
            <a href="#" class="btn">Shop Now &#8594;</a>
        </div>
    </section>

    <section class="category">
        <h2>Shop By Category</h2>
        <div class="category-products">
            <div class="cat-pdts">
                <img src="{% static 'images/hard.jpg'%}" alt="">
                <a href="#"><h3>Men's Cloths</h3></a>
            </div>
            <div class="cat-pdts">
                <img src="{% static 'images/push.jpg'%}" alt="">
                <a href="#"><h3>Shoes</h3></a>
            </div>
            <div class="cat-pdts">
                <img src="{% static 'images/hand.jpg'%}" alt="">
                <a href="#"><h3>Bags</h3></a>
            </div>
        </div>
    </section>

    <section class="products">
        <h2>Featured Products</h2>
        <div class="product-container">
            <div class="pdt">
                <img src="{% static 'images/smart.jpg' %}" alt="smartwatch">
                <h3>smartwatch</h3>
                <!--This is an iphone that comes in hand with a smart watch and ipods-->
                <span class="price">shs50000</span>
                <a href="#" class="btn">Add to Cart</a>
            </div>
            <div class="pdt">
                <img src="{% static 'images/men.jpg' %}" alt="jacket & pants">
                <h3>jacket set</h3>
                <!-- Cool black brown jacketwith an undershirt and pair of trousers.-->
                <span class="price">shs40000</span>
                <a href="#" class="btn">Add to Cart</a>
            </div>
            <div class="pdt">
                <img src="{% static 'images/brc.jpg' %}" alt="jacket & pants">
                <h3>bracelet</h3>
                <!-- Cool black brown jacketwith an undershirt and pair of trousers.-->
                <span class="price">shs10000</span>
                <a href="#" class="btn">Add to Cart</a>
            </div>
            <div class="pdt">
                <img src="{% static 'images/hard.jpg' %}" alt="jacket & pants">
                <h3>Shoes</h3>
                <!-- Cool black brown jacketwith an undershirt and pair of trousers.-->
                <span class="price">shs50000</span>
                <a href="#" class="btn">Add to Cart</a>
            </div>
            <div class="pdt">
                <img src="{% static 'images/n.jpg' %}" alt="jacket & pants">
                <h3>Necklace</h3>
                <!-- Cool black brown jacketwith an undershirt and pair of trousers.-->
                <span class="price">$12.99</span>
                <a href="#" class="btn">Add to Cart</a>
            </div>
            <div class="pdt">
                <img src="{% static 'images/j.jpg' %}" alt="jacket & pants">
                <h3>jacket set</h3>
                <!-- Cool black brown jacketwith an undershirt and pair of trousers.-->
                <span class="price">shs30000</span>
                <a href="#" class="btn">Add to Cart</a>
            </div>
            <div class="pdt">
                <img src="{% static 'images/hv.jpg' %}" alt="jacket & pants">
                <h3>jacket </h3>
                <!-- Cool black brown jacketwith an undershirt and pair of trousers.-->
                <span class="price">shs20000</span>
                <a href="#" class="btn">Add to Cart</a>
            </div>
            <!-- Add more products as needed -->
        </div>
    </section>

    
</body>
</html>
</body>
</html>
{%endblock%}