{% load static%}
<style>
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
header{
    padding: 20px;
    background-color: #635f5f; 
    height: 45px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

header img{
    border-radius: 50px;
    float: left;
    width: 65px;
}
header h1{
    display: flex;
    color: white;
    font-weight: bold;
    font-size:40px ;
    margin-left: 20px;
}
nav{
    display: flex;
    margin-bottom: 440px;
    float: right;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: #242323;
    color: wheat;
    padding:10px ;
    border-radius: 30px;

}
nav .account-icon{
    position: relative;
    display: inline-block;
}
nav .account-icon img{
    width: 30px;
    margin-left:20px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
nav .account-icon a{
    display: block;
    font-weight: bold;
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 10px 15px;
}
nav .dropdown{
    display: none;
    position: absolute;
    background-color: #a3a1a1;
    min-width: 100px;
    box-shadow: 0px 8px 6px 0px rgb(0, 0, 0);
    z-index: 1;
}
nav .account-icon:hover .dropdown{
    display: block;
}
nav .dropdown a:hover{
    background-color: #5555f3;
}
.cart{
    position: relative;
}
.footer{
    background-color: #333;
    padding: 40px 0;
}
.footer .in-footer{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.footer .in-footer .rows{
    display: flex;
    flex-wrap: wrap;
}
.footer .in-footer .rows .cols{
    width: 25%;
    padding: 0px;
}
.footer .in-footer .rows .cols h3{
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    font-weight: 900px;
    position: relative;
}
.footer .in-footer .rows .cols ul li{
    margin-bottom: 15px;
    cursor: pointer;
}
.footer .in-footer .rows .cols ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: wheat;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer .in-footer .rows .cols ul li a:hover{
    color: aqua;
    padding-left: 10px;
}
.footer .in-footer .rows .cols .icon-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 20px 20px 10px 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.footer .in-footer .rows .cols .icon-links a:hover{
    filter: grayscale(10%);
    width: 50px;
    height: 50px;
}
</style>
<header>
    <div class="elememts">
        <img src="{%static 'images/log.jpg'%}" alt="our logo" width="100px">
        <h1>CORNER SHOP</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contacts">Contact</a></li>
           
        
            <li class="cart"><a href="{% url 'cart_summary'%}">cart</a></li>

        </ul>
        <div class="account-icon">
            <img src="{% static 'images/user.png'%}" alt="account">
            <div class="dropdown">
                {% if user is authenticated %}
                <a href="/logout">Logout</a>
                <a href="/update_user">Profile Update</a>
                {% else %}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
                {%endif%}
               
                <a href="/business">Bussiness Registration</a>
            </div>
        </div>
    </nav>
</header>
{%block content%}
{%endblock%}
<footer>
    <div class="footer">
        <div class="in-footer">
            <div class="rows">
                <div class="cols">
                    <h3>corner shop</h3>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#"> our team</a></li>
                    </ul>
                </div>
                <div class="cols">
                    <h3>Get help</h3>
                    <ul>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">delivery</a></li>
                        <li><a href="">order staus</a></li>
                        <li><a href="">payment status</a></li>
                    </ul>
                </div>
                <div class="cols">
                    <h3>product categories</h3>
                    <ul>
                        <li><a href="">electronics</a></li>
                        <li><a href="">men's corner</a></li>
                        <li><a href="">women's corner</a></li>
                        <li><a href="">many more</a></li>
                    </ul>
                </div>
                <div class="cols">
                    <h3> follow us</h3>
                    <div class="icon-links">
                        <a href=""><img src="{% static 'images/facebook.png'%}" alt="" width="50px"></a>
                        <a href=""><img src="{% static 'images/instagram.png'%}" alt="" width="50px"></a>
                        <a href=""><img src="{% static 'images/twitter.png '%}" alt="" width="45px"></a>
                        <a href=""><img src="{% static 'images/whatsapp.png'%}" alt="" width="50px"></a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="Copyright">
                <p>Copyright &2023 Dsigned By GROUP 7</p>
            </div>
        </div>
    </div>
</footer>